models:
  - name: Gemini Pro
    provider: gemini
    model: gemini-2.5-pro
    apiKey: "AQ.Ab8RN6KGkI3CjuU43bzVUoThIGI4NpRNwhw7V_Vmnz2sanp-yA"

  - name: Gemini Fast
    provider: gemini
    model: gemini-2.5-flash
    apiKey: "AQ.Ab8RN6KGkI3CjuU43bzVUoThIGI4NpRNwhw7V_Vmnz2sanp-yA"

  - name: DeepSeek
    provider: openai
    model: deepseek-chat
    apiBase: https://api.deepseek.com
    apiKey: "sk-c81fe646284f42128bd3377418ddfa08"